
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Erişim izniniz yoktur</h1>
<br />
<br />
<table>
<body>
<tr>
    <td><a href="/Home/Index" class="btn btn-primary">AnaSayfaya Dön</a></td>
</tr>
</body>
</table>