@model Project_Exam.Models.CategoryListViewModel
@if (Model.Categories.Any())
{

    <table class="table table-responsive">
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td> <a href="/?categoryId=@category.Id"> @category.Name </a></td>
            </tr>
            
            
        }
    </table>
}
else
{
    <h5>Kategori bilgisi bulunmamaktadır.</h5>
}

